@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: motiva_regular;
    src: url(./font/MotivaSansRegular.woff.ttf);
}

@font-face {
    font-family: motiva_medium;
    src: url(./font/MotivaSansMedium.woff.ttf);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: motiva_regular;
}

.navbar {
    background: #f74843;
    padding: 0;
}

.navbar > div {
    padding-left: 0;
}

#carousel {
    background: linear-gradient(to bottom right, #107eb2, #404040);
}

#carousel,
.carousel-item,
.carousel-item > img
{
    height: 40vh;
    object-fit: cover;
}

#valve_logo{
    background-color: white;
}

main {
    padding: 32px;
}

.revealer {
    display: flex;
    width: 100%;
    border: 2px solid grey;
    padding: 12px 16px;
    border-radius: 24px;
    transition: border-radius .1s;
    justify-content: space-between;
}

.revealer[aria-expanded="false"] {
    transition-delay: .3s;
}

.revealer[aria-expanded="true"], .revealer:has(+ .collapsing) {
    border-bottom: none;
}

.collapse_custom {
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    border-top: none;
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    border-radius: 0 0 24px 24px;
}

main > .revealer:not(:first-child) {
    margin-top: 16px;
}

.card {
    box-shadow: 0px 0px 10px 2px #0003;
}

.card-img-top {
    padding: 16px;
    height: 200px;
    object-fit: contain;
}

.revealer img {
    transition: transform 0.3s ease;
    height: 24px;
}

.revealer[aria-expanded="true"] img {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.revealer[aria-expanded="true"] {
    border-radius: 24px 24px 0 0;
}

.section_title {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
}

hr {
    margin: 24px 0;
}

footer {
    background-color: #f74843;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > p {
    margin-bottom: 0 !important;
}

.hidden_link {
    color: #212529;
}

.stars {
    text-shadow: 0 0 1px black;
}

.rating {
    font-size: 1.8em;
    color: gold;
}

.velemenyekgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
}

.review_flexbox {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;
}

.review_text {
    font-size: 1.4em;
    margin-bottom: 0;
}

.review_author {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}

@media only screen and (max-width: 700px) {
    .velemenyekgrid {
        grid-template-columns: auto;
    }
}
