@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: motiva_regular;
    src: url(./font/MotivaSansRegular.woff.ttf);
}

@font-face {
    font-family: motiva_medium;
    src: url(./font/MotivaSansMedium.woff.ttf);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: motiva_regular;
}

.navbar {
    background: #f74843;
    padding: 0;
}

.navbar > div {
    padding-left: 0;
}

#carousel {
    background-color: #f74843aa;
}

#carousel,
.carousel-item,
.carousel-item > img
{
    height: 40vh;
    object-fit: cover;
}

#valve_logo{
    background-color: white;
}

main {
    padding: 32px;
}

.revealer {
    display: flex;
    width: 100%;
    border: 1px solid grey;
    padding: 12px 16px;
    border-radius: 24px;
    transition: border-radius .1s;
    justify-content: space-between;
}

.revealer[aria-expanded="false"] {
    transition-delay: .3s;
}

.revealer[aria-expanded="true"] {
    border-bottom: none;
}

.collapse_custom {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-top: none;
    gap: 16px;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    border-radius: 0 0 24px 24px;
}

main > .revealer:not(:first-child) {
    margin-top: 16px;
}

.card {
    box-shadow: 0px 0px 10px 4px #0004;
}

.card-img-top {
    padding: 16px;
    height: 200px;
    object-fit: contain;
}

.revealer img {
    transition: transform 0.3s ease;
    height: 24px;
}

.revealer[aria-expanded="true"] img {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.revealer[aria-expanded="true"] {
    border-radius: 24px 24px 0 0;
}
