
main {
    padding: 12px;
}

h1 {
    margin-bottom: 12px;
}

P {
    text-wrap: nowrap;
}

#grid {
    display: grid;
    grid-template-columns: min-content min-content;
}

#grid p {
    padding: 6px 12px;
    margin-bottom: 0;
}

#grid p {
    border: 1px solid black;
}

#grid p:nth-child(2n-1) {
    border-right: none;
}

#grid p:not(:nth-last-child(-n + 2)) {
    border-bottom: none;
}

