
html, body { height: 100%; }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

form {
    width: min(600px, 80%);
    border: 2px solid lightgray;
    box-shadow: 0 0 32px 10px #00000020;
    padding: 32px;
    border-radius: 16px;
}

h1 {
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}

form input, form select, form textarea {
    margin-bottom: 12px;
    margin-top: 4px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid lightgray;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 200px;
    min-height: 100px;
    max-height: 400px;
}

form label {
    font-family: motiva_medium;
    font-size: 1.2rem;
}

form button {
    padding: 12px 4px;
    border-radius: 12px;
    background-color: #f74843;
    border: 2px solid #a33a36;
    width: 160px;
    transition: background-color .15s;
    color: white;
}

form button:hover {
    background-color: #fc8682;
}

form button:active {
    background-color: #a33a36;
}

form input:focus,
form select:focus,
form textarea:focus,
form button:focus {
    border: 2px solid #f74843;
    outline: none;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}
